/* line 1, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 3, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 4, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 5, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 6, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 7, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 8, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 9, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 10, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 11, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
.image-show-modal-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 3px;
  box-shadow: 3px 3px 3px grey;
  width: 500px;
  height: 600px;
  background-color: white;
}

/* line 19, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 22, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 24, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
img.like-button {
  height: 25px;
  width: 25px;
}

/* line 13, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 16, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 17, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 19, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 21, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 23, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 25, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 31, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 35, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 38, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
img.photo-show {
  display: flex;
  height: 400px;
  width: 500px;
  box-shadow: 1px 1px 1px 1px gray;
}

/* line 24, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 24, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 27, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 30, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 34, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 37, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 44, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 49, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 53, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
img.profile-pic-thumbnail {
  width: 50px;
  height: 33px;
}

/* line 29, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 30, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 34, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 38, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 43, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 47, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 55, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 61, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 66, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
.image-show-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 200px;
}

/* line 38, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 40, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 45, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 50, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 56, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 61, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 70, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 77, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 83, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
.image-show-username {
  display: flex;
  flex-direction: row;
}

/* line 43, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 46, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 52, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 58, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 65, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 71, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 81, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 89, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 96, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
.image-show-username {
  margin: 5px;
  font-size: medium;
  color: black;
  font-weight: 600;
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
}

/* line 63, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 71, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 78, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 90, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 104, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 112, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
section.description-section {
  padding-top: 10px;
  padding-left: 10px;
}

/* line 108, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
/* line 118, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
.like-div {
  margin-top: 3px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* line 124, /Users/johnmatthews/Desktop/full_stack/Dogstagram/app/assets/stylesheets/photo_show.scss */
.username-div {
  font-weight: 600;
}
